<div style="text-align:center">
  <div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
</div>
<app-task-list></app-task-list>
<br/>

{{ user | json}}

<br/>

{{upperText | uppercase}}

<br/>

{{digital | percent}}

<br/>

{{today | date : 'dd/MM/yyyy'}}

<br/>

{{money | currency : 'R$'}}

<br/>

<div [ngSwitch]="profile">
  <div *ngSwitchCase="2">you are 2</div>
  <div *ngSwitchCase="1">you are 1</div>
  <div *ngSwitchCase="3">you are 3</div>
  <div *ngSwitchCase="4">you are 4</div>
  <div *ngSwitchDefault>you are nothing</div>
</div>
<br/>

<div *ngIf="isADM">
  Administrador;
</div>
<br/>